<!DOCTYPE html>
<html>

<head>
    <title>Home Page</title>
</head>

<body>
    <h1>This is the home page.</h1>
    <h2>Welcome <%= username %>, your email address is: <%= email %></h2>

    <p>(This is an ejs...)</p>
</body>

</html>