<% include ../partials/head %>

<% include ../partials/header %>


<div class="container">
  <h1><%= title %></h1>
  <div>
    Weight: <%= weight %><br>
    Mail Type: <%= mailtype %><br>
    Price: <%= price %>
  </div>
</div>

<% include ../partials/footer %>